/* - - - - - - - - - - - - - - - - COLORS - - - - - - - - - - - - - - - - */

$color-background: #e8e8e8;
$color-highlight-yellow: #facd10;
$color-highlight-blue: #0089cf;
$color-highlight-shadow: rgba(0,137,207,0.5);
$color-green: #55a738;
$color-gradient: linear-gradient(229deg, #55a738 0%, #facd10 100%);
$color-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
$color-grey: #cbcbcb;