/* - - - - - - - - - - - - - - - - SCSS IMPORTS - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - COLORS - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - UNIVERSAL SELECTORS - - - - - - - - - - - - - - - - */
* {
  font-family: "Open Sans", sans-serif;
}

*:focus {
  outline: none !important;
}

body {
  background-color: #e8e8e8;
}

.block_col_first,
.block_col_second,
.block_col_third {
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0 -20px;
  padding: 0;
}

.col-header {
  height: 200px;
  background-image: url("images/image-1.png");
  background-size: cover;
  background-position: top;
}

/* - - - - - - - - - - - - - - - - HEADLINE - - - - - - - - - - - - - - - - */
.headline {
  margin-left: -20px;
  margin-top: 49px;
  margin-bottom: 41px;
}

/* - - - - - - - - - - - - - - - - FIRST COL - - - - - - - - - - - - - - - - */
.block_col_first .highlight {
  font-size: 12px;
  position: absolute;
  font-size: 12px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 23px black;
  box-shadow: 0px 10px 23px black;
  background-color: #0089cf;
  border-radius: 15px;
  padding: 0 20px;
  top: 20px;
  left: -10px;
}

/* - - - - - - - - FORM-CONTAINER - - - - - - - - */
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 26px 34px 26px;
}

/* - - - - - - - - FORM-INPUT - - - - - - - - */
.form-input input {
  width: 100%;
  height: 40px;
  border: 2px solid #cbcbcb;
}
.form-input .label-input {
  font-size: 12px;
  margin-bottom: 7px;
}

/* - - - - - - - - FORM-RADIO - - - - - - - - */
.form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-radio .label-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 105px;
  height: 30px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #cbcbcb;
  border-radius: 20px;
  line-height: 16px;
  margin-right: 16px;
}
.form-radio .checkmark-radio {
  position: absolute;
  top: 0;
  left: 6px;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 50%;
  margin-top: 5px;
}

.radio-p {
  font-size: 12px;
  margin-bottom: 7px;
  margin-top: 29px;
}

.label-radio:hover {
  border: 2px solid #0089cf;
  color: #0089cf;
}

.label-radio:hover .checkmark-radio:after {
  background: #cbcbcb;
  display: block;
}

.label-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.label-radio:hover input ~ .checkmark-radio {
  background-color: white;
  border: 2px solid #0089cf;
}

.label-radio input:checked ~ .checkmark-radio {
  background-color: white;
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.label-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

.label-radio .checkmark-radio:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0089cf;
}

/* - - - - - - - - FORM-CHECKBOX - - - - - - - - */
.form-checkbox {
  margin-top: 26px;
}
.form-checkbox .label-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-checkbox .label-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.form-checkbox .label-checkbox .checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #cbcbcb;
}

.label-checkbox:hover input ~ .checkmark-checkbox {
  border: 2px solid #2196F3;
}

.label-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.label-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.label-checkbox .checkmark-checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* - - - - - - - - PICKER - - - - - - - - */
.form-picker {
  margin-top: 7px;
}
.form-picker button {
  outline-style: none;
  width: 78px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #cbcbcb;
  padding: 8px;
}
.form-picker .btn-1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.form-picker .btn-2 {
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  margin-left: -10px;
}
.form-picker .label-picker {
  margin-bottom: 7px;
  font-size: 12px;
  display: block;
}
.form-picker .active {
  background-color: #0089cf;
  color: white;
}

/* - - - - - - - - - - - - - - - - SECOND COL - - - - - - - - - - - - - - - - */
.block_col_second h2 {
  text-align: center;
  font-weight: 700;
  margin: 25px 0 30px 0;
  font-size: 16px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 20px;
}
.block_col_second button {
  height: 40px;
  width: 152px;
  background-color: #facd10;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 0px #c8a40f;
  box-shadow: 0px 2px 0px #c8a40f;
  margin-left: 50%;
  margin-bottom: 50px;
  -webkit-transform: translateX(-76px);
  -ms-transform: translateX(-76px);
  transform: translateX(-76px);
  font-size: 12px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
}
.block_col_second .highlight {
  font-size: 12px;
  position: absolute;
  font-size: 12px;
  line-height: 32px;
  color: black;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 23px rgba(250, 205, 16, 0.5);
  box-shadow: 0px 10px 23px rgba(250, 205, 16, 0.5);
  background-color: #facd10;
  border-radius: 15px;
  padding: 0 20px;
  top: 20px;
  left: -10px;
}

.col-header-filter {
  background-image: url("images/image-filter.png");
}

.block_col_second p:nth-of-type(2) {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  margin: 0 26px 30px 27px;
  color: #000000;
}

.block_col_second p:last-of-type {
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  font-weight: 400;
  border-left: 7px solid #facd10;
  padding-left: 9px;
  margin-left: 26px;
  margin-right: 74px;
  margin-bottom: 44px;
  color: #000000;
}

/* - - - - - - - - - - - - - - - - THIRD COL - - - - - - - - - - - - - - - - */
.block_col_third {
  background-image: linear-gradient(229deg, #55a738 0%, #facd10 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 622px;
}
.block_col_third .close-icon {
  position: absolute;
  font-size: 22px;
  color: #55a738;
  border: 3px solid #55a738;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  right: -20px;
  top: -20px;
  line-height: 16px;
  z-index: 1;
}

.col-header-clip {
  width: 100%;
  height: 257px;
  background-image: url("images/image-1.png");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 200px);
}

/* - - - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - - - - */
@media all and (max-width: 1280px) {
  .container-fluid {
    width: 90% !important;
    margin-bottom: 30px;
  }
}
@media all and (max-width: 992px) {
  .block_col_first,
.block_col_second {
    margin-bottom: 30px;
  }

  .block_col_third {
    margin-left: 25%;
  }
}
@media all and (max-width: 767px) {
  .block_col_first,
.block_col_second {
    margin: 0;
    margin-bottom: 30px;
  }
  .block_col_first .highlight,
.block_col_second .highlight {
    left: 10px;
    top: 10px;
  }

  .block_col_third {
    margin: 0;
  }
  .block_col_third .close-icon {
    top: 10px;
    right: 10px;
  }

  .headline {
    text-align: center;
    margin-left: 0;
  }

  .container-fluid {
    width: 95% !important;
  }
}

/*# sourceMappingURL=output.css.map */
